/* https://youtu.be/z52xvTZoodA */

/* body {
  height: 100vh;
  margin: 0;

} */

.flagContainer{
  height: 19vmin;
  width: 19.38vw;
  background-color: pink;
  border: 1px solid black;
  display: inline-block;
  font-size:0;
}

/* Indonesia */
#indonesia {
  background-color: white;
}
#indonesia > .section{
  height: 50%;
}
#indonesia .redBackground {
  background-color: red;
}

/* Colombia */
#columbia {
  background-color: yellow;
}
#columbia > .secondFlagSection:nth-child(1){
  height: 50%;
}
#columbia > .secondFlagSection:nth-child(2){
  height: 25%;
  background-color: blue;
}
#columbia > .secondFlagSection:nth-child(3){
  height: 25%;
  background-color: #cc3300;
}


/* Ireland */
#ireland {
  background-color: white;
}
#ireland  .thirdFlagSection {
  display: inline-block;
  height: 100%;
  width: calc(100%/3);
}
#ireland > .thirdFlagSection:nth-child(1){
  background-color:green;
}
#ireland > .thirdFlagSection:nth-child(3){
  background-color:orange;
}

/* France */
#france {
  background-color: white;
}
#france .fourthFlagSection{
  display: inline-block;
  height: 100%;
  width: calc(100%/3);
}
#france > .fourthFlagSection:nth-child(1){
  background-color: #000099;
}
#france > .fourthFlagSection:nth-child(3){
  background-color:#990000;
}


/* Benin */
/* #benin{
  background-color: green;
} */
#benin .fifthFlagSection{
  height: 100%;
  width: 38%;
  float:left;
  background-color: green;

}
#benin .fifthFlagSectionRightSide{
  height: 100%;
  background-color: red;
}
#benin .top{
  height: 50%;
  background-color:yellow;
}


/* Sweden */
#sweden {
  background-color: #004B87;
  position: relative;
}
#sweden .sixthFlagSection{
  background-color: #ffcd00;
  position: absolute;
}
#sweden .sixthFlagSection:nth-child(1){
  top: 40%;
  height: 18%;
  width: 100%;
}
#sweden .sixthFlagSection:nth-child(2){
  right: 57%;
  height: 100%;
  width: 14%;
}

/* Switzerland */
/* seventhFlagSection */

#switzerland {
  background-color: red;
  position: relative;
}
#switzerland .seventhFlagSection{
  background-color: white;
  position: absolute;
}
#switzerland .seventhFlagSection:nth-child(1){
  right: 41%;
  top: 15%;
  height: 70%;
  width: 17%;
}
#switzerland .seventhFlagSection:nth-child(2){
  top: 40%;
  right: 20%;
  height: 20%;
  width: 59%;
}

/* Tonga */
#tonga{
  background-color: #c10000;
  position: relative;
}
#tonga .eighthFlagSection{
  position: absolute;
}
#tonga .eighthFlagSection:nth-child(1){
  background-color: white;
  height: 50%;
  width: 42%;
}
#tonga .eighthFlagSection:nth-child(2){
  top: 18%;
  left: 6%;
  width: 30%;
  height: 13%;
  background-color:#c10000;
}
#tonga .eighthFlagSection:nth-child(3){
  top: 5%;
  left: 16%;
  width: 10%;
  height: 40%;
  background-color:#c10000;
}
/* Japan */
#japan {
  background-color: white;
  position: relative;
}
#japan .ninthFlagSection{
  background-color: #DE2910;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  height: 55%;
  width: 39%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Canada */
#canada {
  background-color:white;
}
#canada .tenthFlagSection{
  background-color: #DE2910;
}
#canada .tenthFlagSection:nth-child(1){
  height: 100%;
  width: 25%;
}
/* #canada .tenthFlagSection:nth-child(2){
}
#canada .tenthFlagSection:nth-child(3){
} */
/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
