/* https://youtu.be/z52xvTZoodA */

/* body {
  height: 100vh;
  margin: 0;

} */

.flagContainer{
  height: 19vmin;
  width: 19.38vw;
  background-color: pink;
  border: 1px solid black;
  display: inline-block;
  font-size:0;
}

/* Indonesia */
#indonesia {
  background-color: white;
}
#indonesia > .section{
  height: 50%;
}
#indonesia .redBackground {
  background-color: red;
}

/* Colombia */
#columbia {
  background-color: yellow;
}
#columbia > .secondFlagSection:nth-child(1){
  height: 50%;
}
#columbia > .secondFlagSection:nth-child(2){
  height: 25%;
  background-color: blue;
}
#columbia > .secondFlagSection:nth-child(3){
  height: 25%;
  background-color: #cc3300;
}


/* Ireland */
#ireland {
  background-color: white;
}
#ireland  .thirdFlagSection {
  display: inline-block;
  height: 100%;
  width: calc(100%/3);
}
#ireland > .thirdFlagSection:nth-child(1){
  background-color:green;
}
#ireland > .thirdFlagSection:nth-child(3){
  background-color:orange;
}

/* France */
#france {
  background-color: white;
}
#france .fourthFlagSection{
  display: inline-block;
  height: 100%;
  width: calc(100%/3);
}
#france > .fourthFlagSection:nth-child(1){
  background-color: #000099;
}
#france > .fourthFlagSection:nth-child(3){
  background-color:#990000;
}


/* Benin */
/* #benin{
  background-color: green;
} */
#benin .fifthFlagSection{
  height: 100%;
  width: 38%;
  float:left;
  background-color: green;

}
#benin .fifthFlagSectionRightSide{
  height: 100%;
  background-color: red;
}
#benin .top{
  height: 50%;
  background-color:yellow;
}


/* Sweden */
#sweden {
  background-color: #004B87;
  position: relative;
}
#sweden .sixthFlagSection{
  background-color: #ffcd00;
  position: absolute;
}
#sweden .sixthFlagSection:nth-child(1){
  top: 40%;
  height: 18%;
  width: 100%;
}
#sweden .sixthFlagSection:nth-child(2){
  right: 57%;
  height: 100%;
  width: 14%;
}

/* Switzerland */
/* seventhFlagSection */

#switzerland {
  background-color: red;
  position: relative;
}
#switzerland .seventhFlagSection{
  background-color: white;
  position: absolute;
}
#switzerland .seventhFlagSection:nth-child(1){
  right: 41%;
  top: 15%;
  height: 70%;
  width: 17%;
}
#switzerland .seventhFlagSection:nth-child(2){
  top: 40%;
  right: 20%;
  height: 20%;
  width: 59%;
}

/* Tonga */
#tonga{
  background-color: #c10000;
  position: relative;
}
#tonga .eighthFlagSection{
  position: absolute;
}
#tonga .eighthFlagSection:nth-child(1){
  background-color: white;
  height: 50%;
  width: 42%;
}
#tonga .eighthFlagSection:nth-child(2){
  top: 18%;
  left: 6%;
  width: 30%;
  height: 13%;
  background-color:#c10000;
}
#tonga .eighthFlagSection:nth-child(3){
  top: 5%;
  left: 16%;
  width: 10%;
  height: 40%;
  background-color:#c10000;
}
/* Japan */
#japan {
  background-color: white;
  position: relative;
}
#japan .ninthFlagSection{
  background-color: #DE2910;
  position: absolute;
  border-radius: 50%;
  height: 55%;
  width: 39%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Canada */
#canada {
  background-color: white;
  position: relative;
}
#canada .tenthFlagSection:nth-child(1){
  position: absolute;
  display: inline-block;
  top: 14%;
  left: 28%;
  height: 78%;
  width: 50%;
  background-image: url('./assets/images/canada_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateZ(26deg);
}

#canada .tenthFlagSection:nth-child(2){
  position: absolute;
  height: 100%;
  width: 23%;
  left: 0%;
  background-color: red;
}

#canada .tenthFlagSection:nth-child(3){
  position: absolute;
  height: 100%;
  width: 23%;
  right: 0%;
  background-color: red;
}

/* Norway */
#norway{
  background-color: red;
  position: relative;
}
#norway
.verticalWhite,
.horizontalWhite{
  position: absolute;
  background-color: white;
}
#norway
.verticalBlue,
.horizontalBlue{
  position: absolute;
  background-color: #003087;
}
#norway .verticalWhite{
  left: 25%;
  height: 100%;
  width: 16%;
}
#norway .horizontalWhite{
  top: 35%;
  height: 24%;
  width: 100%;
}
#norway .verticalBlue{
  left: 29%;
  height: 100%;
  width: 8%;
}
#norway .horizontalBlue{
  top: 41%;
  width: 100%;
  height: 12%;
}

/* Greece */
#greece {
  background-color: white;
  position: relative;
}
#greece .leftTopBox{
  background-color: #0D5EAF;
  position: absolute;
  height: 55.6%;
  width: 33%;
}
#greece
.whiteVertical,
.whiteHorizontal{
  background-color: white;
  position: absolute;
}

#greece .whiteVertical{
  height: 100%;
  width: 20%;
  left: 38%;
}
#greece .whiteHorizontal{
  height: 19%;
  width: 100%;
  top: 40%;
}
#greece
.outerContainer:nth-child(even),
.outerContainer:nth-child(odd) {
  width: 100%;
  height: 11.1%;
}
#greece .outerContainer:nth-child(even){
  background-color: #0D5EAF;
}
#greece .outerContainer:nth-child(odd){
  background-color: white;
}

/* Somalia */
#somalia{
  background-color: #4189DD;
  position: relative;
}
#somalia .thirteenthFlagSection{
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 13%;
  font-size: 13vh;
  color: white;
}

/* Chile */
#chile{
  position: relative;
}
#chile .fourteenthFlagSection:nth-child(1){
  position: absolute;
  background-color: #0039A6;
  height: 50%;
  width: 33%;
}
#chile .fourteenthFlagSection .star{
  position: absolute;
  text-align: center;
  font-size: 7vh;
  height: 100%;
  width: 100%;
  top: 6%;
  color: white;
}

#chile
.fourteenthFlagSection:nth-child(2),
.fourteenthFlagSection:nth-child(3){
  height: 50%;
  width: 100%:
}
#chile .fourteenthFlagSection:nth-child(2){
  background-color: white;
}
#chile .fourteenthFlagSection:nth-child(3){
  background-color: #D52B1E;
}

/* Turkey */
#turkey{
  background-color: #E30A17;
  position: relative;
}
#turkey
.outerCircle,
.innerCircle{
  position: absolute;
  border-radius: 50%;
}

#turkey .outerCircle{
  background-color: white;
  height: 55%;
  width: 35%;
  top: 22%;
  left: 16%;
}
#turkey .innerCircle{
  background-color: #E30A17;
  height: 81%;
  width: 82%;
  top: 10%;
  left: 20%;
}
#turkey .star{
  position: absolute;
  color: white;
  top: 35%;
  left: 50%;
  font-size: 5vh;
  transform: rotateZ(-19deg);
}

/* China */
#china{
  background-color: #DE2910;
  position: relative;
  /* #FFDE00; */
}
#china
.biggerStar,
.smallerStar1,
.smallerStar2,
.smallerStar3,
.smallerStar4{
  position: absolute;
}

#china .biggerStar{
  left: 5%;
  top: 5%;
  color: #FFDE00;
  font-size: 7vh;
}

#china
.smallerStar1,
.smallerStar2,
.smallerStar3,
.smallerStar4{
  position: absolute;
  background-color: none;
  height: 10%;
  text-align: right;
  font-size: 2vh;
  color: #FFDE00;
}
#china .smallerStar1{
  transform: rotate(-49deg);
  width: 24%;
  top: 18%;
  left: 9%;
}
#china .smallerStar2{
  transform: rotate(-23deg);
  width: 27%;
  top: 22%;
  left: 9%;
}
#china .smallerStar3{
  transform: rotate(0deg);
  width: 27%;
  top: 30%;
  left: 8%;
}
#china .smallerStar4{
  transform: rotate(23deg);
  width: 27%;
  top: 33%;
  left: 4%;
}

/* Cuba */
#cuba {
  position: relative;
  overflow: hidden;
}
#cuba .seventeenthFlagSection{
  height: 20%;
  width: 100%;
}
#cuba .seventeenthFlagSection:nth-child(odd){
  background-color: #002A8F;
}
#cuba .seventeenthFlagSection:nth-child(even){
  background-color: white;
}
#cuba .redContainer{
  position: absolute;
  top: 7%;
  left: -44%;
  background-color: #CF142B;
  height: 100%;
  width: 67%;
  transform: rotate(-35deg) skew(25deg,5deg);
}
#cuba .star{
  position: absolute;
  font-size: 7vh;
  top: 28%;
  left: 5%;
  color: white;
}
/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
